.inputLoginUsername{
    position: absolute;
    width: 311px;
    height: 50px;
    left: 766px;
    top: 323px;    
    background: rgba(151, 29, 25, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.inputLoginPassword{
    position: absolute;
    width: 311px;
    height: 50px;
    left: 767px;
    top: 427px;
    background: rgba(254, 36, 46, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.loginBtn{
    position: absolute;
    width: 192px;
    height: 40px;
    left: 833px;
    top: 516px;
    background: rgba(238, 98, 110, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.inputNombreCompleto{
    position: absolute;
    width: 407px;
    height: 50px;
    left: 745px;
    top: 207px;
    background: rgba(198, 52, 68, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.inputNombreDeUsuario{
    position: absolute;
    width: 407px;
    height: 50px;
    left:1px;
    top: 57px;
    
    background: rgba(198, 52, 68, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.inputCorreo{
    position: absolute;
    width: 25.4375rem;
    height: 50px;
    left: 745px;
    top: 436px;
    background: rgba(51, 101, 104, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.inputContrasena{
    position: absolute;
    width: 25.4375rem;
    height: 50px;
    left: 745px;
    top: 546px;
    background: rgba(54, 107, 32, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.btnRegistroEnviar{
    position: absolute;
    width: 108px;
    height: 40px;
    left: 895px;
    top: 637px;
    background: #00272E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5625rem;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #BFBCC2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}